<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="https://www.linkedin.com/in/tarek-m-46427b111/" target="blank" class="navbar-brand">MyLinkedIn</a></div>
        <ul class="navbar-nav">
            <li><a routerLink="/report" class="nav-link">Full Report</a></li>
            <li><a routerLink="/success-report" class="nav-link">Success Report</a></li>
            <li><a routerLink="/failure-report" class="nav-link">Failure Report</a></li>
        </ul>
    </nav>
</header>