/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.color {
    color: white;
    font-weight: bold;
    background-color: darkcyan;
  }