<h1>Failure Report</h1>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Reference</th>
                <th>Account Number</th>
                <th>Description</th>
                <th>Start Balance</th>
                <th>Mutation</th>
                <th>End Balance</th>
                <th>Status</th>
                <th>Remarks</th>
                <th>Source</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let report of reports"
                [ngClass]="{'color': (report.status === 'Failed')}">
                <td>{{report.reference}}</td>
                <td>{{report.accountNumber}}</td>
                <td>{{report.description}}</td>
                <td>{{report.startBalance}}</td>
                <td>{{report.mutation}}</td>
                <td>{{report.endBalance}}</td>
                <td>{{report.status}}</td>
                <td>{{report.remarks}}</td>
                <td>{{report.source}}</td>
            </tr>
        </tbody>
    </table>
</div>